body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 20px;
  background-color: #cf7fec;
}
* {
  font-family: 'Londrina Solid', cursive;
  font-size: 2rem;
  outline: none;
}

::placeholder {
  color: #CCCCCC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 1px solid #c0c0c0;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 0 0;
  transition: all 0.3s ease;
  color: #444444;
  outline: none;
  box-shadow: 1px 1px;
}
button[disabled] {
  background-color: #CCCCCC;
  color: #DDDDDD;
  border: none;
}
button:not([disabled]):hover {
  background-color: #888888;
  color: #DDDDDD;
}
button:not([disabled]).selected {
  background-color: #864e97;
  color: #c7a8f9;
}
